<div class="container-fluid">
<div class="row"> 
<div class="col-12 col-md-4 col-lg-6">
<img src="../../assets/09-Login.jpg" class="img-fluid" alt="">
<img src="../../assets/09-Login.png" class="img" alt="">
</div>
<div class="col-12 col-md-8 col-lg-6">
<div class="container">
<div class="row">
<div class="col-12 col-md-1 col-lg-3"></div>
<div class="col 12 col-md-5 col-lg-7">
    <form action="" class="form-group">
<h2>LOGIN</h2><br>

<label for="">Email or Username:</label>
<input type="text" class="form-control" placeholder="test@gmail.com">
<label for="">Password:</label>
<input type="text" class="form-control" placeholder="**********">

<div class="checkbox"><br>
  <label for=""><input type="checkbox" checked>&nbsp; Remember Password</label>
  <a href="" class="a">Forget Password?</a>
</div>
<div>
  <button class="btn btn-block btn-primary">LOGIN</button>
</div>
</form>
<br>
<div>
<label for="" class="lab">Don't have an account?</label><a href="" class="lab"><strong>Sign Up</strong></a>
</div><hr>
<i class="fa fa-facebook"></i>
<i class="fa fa-twitter"></i>
<i class="fa fa-google"></i>
</div>


<div class="col-12 col-md-6 col-lg-2"></div>

</div>

</div>

</div>

</div>
</div>
